.App {
  text-align: center;
}

/* .link {
  color: #fff;
}

.link:hover {
  color: #fff;
} */

#root {
  background-color: #000;
}

.nav-style {
  color: aliceblue;
}
.nav-style:hover {
  color: #9147ff;
  text-decoration: none;
}

.nav-style.active {
  color: #9147ff;
  padding-bottom: 0.5em;
  border-bottom: #9147ff solid;
}

/* Twitch hover effect from https://stackoverflow.com/questions/58251373/isometric-45-degree-long-diagonal-shadow-on-hover-using-css-or-clip-path*/

.stream__thumbnail {
  transition: 0.1s ease;
}

.stream__thumbnail:hover {
  transform: translate(5%, -2%);
  box-shadow: -1px 1px #9147ff, -2px 2px #9147ff, -3px 3px #9147ff,
    -4px 4px #9147ff, -5px 5px #9147ff, -6px 6px #9147ff, -7px 7px #9147ff,
    -8px 8px #9147ff;
}
